@using Cone.InventoryManagement.Web.Contracts.Infrastructure.Functions
@using Cone.InventoryManagement.Web.Models.Misc
@using static Cone.InventoryManagement.Web.Contracts.Infrastructure.DataTypes.EnumDataTypes
@model Cone.InventoryManagement.Web.Models.Clients.RougeClientConnectionCreateVM
@{
    //Header
    string Navigation = "<li class='breadcrumb-item'><a href='/ClientSetup/Index'>Accounts</a></li>";
    Navigation += "<li class='breadcrumb-item'><a href='/ClientSetup/Detail/" + Model.SetupId + "'>" + Model.ClientName + "</a></li>";
    Navigation += "<li class='breadcrumb-item active'>Edit Connection</li>";

    ViewData["Navigation"] = Navigation;
    ViewData["PageTitle"] = "Edit Connection for " + Model.ClientName;
    ViewData["PageHeading"] = "Edit Connection for " + Model.ClientName;

    //Data
    byte ConnectionType = Model.ConnectionType;
    string ConnectionTypeKey = "";
    string ConnectionTypeJwt = "";
    string ConnectionTypeFtp = "";

    if (ConnectionType == 1)
        ConnectionTypeKey = "checked";
    else if (ConnectionType == 2)
        ConnectionTypeJwt = "checked";
    else
        ConnectionTypeFtp = "checked";

    //Handle data validation errors returned from API
    Alert alert = new Alert();

    if (ViewData["Alert"] != null)
    {
        alert = ViewData["Alert"] as Alert;
    }
}
<div class="d-flex justify-content-center">
    <div class="col-5">
        <!-- jquery validation -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@Model.ClientName</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-controller="ClientConnection" asp-action="Edit" method="Post" id="frmConnection" autocomplete="off">
                <input type="hidden" asp-for="ConnectionId" />
                <input type="hidden" asp-for="SetupId" />
                <input type="hidden" asp-for="ClientId" />
                <input type="hidden" asp-for="ClientName" />
                @Html.AntiForgeryToken()
                <div class="card-body">
                    @await Component.InvokeAsync("Alert", alert)
                    <table width="100%" cellpadding="3" class="frm-table" border="0">
                        <tr>
                            <td>
                                <div class="form-group clearfix mt-3">
                                    <div class="icheck-primary d-inline">
                                        <input type="radio" id="ConnectionTypeKey" title="ConnectionTypeKeyAttribute" name="ConnectionType" value="1" @ConnectionTypeKey>
                                        <label for="ConnectionTypeKey">
                                            @((bytConnectionTypes)1)
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="ConnectionTypeJwt" title="ConnectionTypeJwtAttribute" name="ConnectionType" value="2" @ConnectionTypeJwt>
                                        <label for="ConnectionTypeJwt">
                                            @((bytConnectionTypes)2)
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline ml-3">
                                        <input type="radio" id="ConnectionTypeFtp" title="ConnectionTypeFtpAttribute" name="ConnectionType" value="3" @ConnectionTypeFtp>
                                        <label for="ConnectionTypeFtp">
                                            @((bytConnectionTypes)3)
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="ConnectionTypeKeyAttribute">
                                    <table width="100%" cellpadding="3" class="frm-table" border="0">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="txtKey">Key</label>
                                                    <input type="text" class="form-control" asp-for="txtKey" placeholder="Key" maxlength="100">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div id="ConnectionTypeJwtAttribute">
                                    <table width="100%" cellpadding="3" class="frm-table" border="0">
                                        <tr>
                                            <td colspan="2">
                                                <div class="form-group">
                                                    <label for="txtJwtBaseUrl">Base Url</label>
                                                    <input type="text" class="form-control" asp-for="txtJwtBaseUrl" placeholder="Base Url" maxlength="100">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="txtJwtUser">User Name</label>
                                                    <input type="text" class="form-control" asp-for="txtJwtUser" placeholder="User Name" maxlength="20">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="txtJwtPassword">Password</label>
                                                    <input type="text" class="form-control" asp-for="txtJwtPassword" placeholder="Password" maxlength="20">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div id="ConnectionTypeFtpAttribute">
                                    <table width="100%" cellpadding="3" class="frm-table" border="0">
                                        <tr>
                                            <td colspan="2">
                                                <div class="form-group">
                                                    <label for="txtFtpUrl">FTP Url</label>
                                                    <input type="text" class="form-control" asp-for="txtFtpUrl" placeholder="FTP Url" maxlength="100">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label for="txtFtpUser">User Name</label>
                                                    <input type="text" class="form-control" asp-for="txtFtpUser" placeholder="User Name" maxlength="20">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label for="txtFtpPassword">Password</label>
                                                    <input type="text" class="form-control" asp-for="txtFtpPassword" placeholder="Password" maxlength="20">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="form-group w-25">
                                                    <label for="txtFtpPort">Port</label>
                                                    <input type="text" class="form-control" asp-for="txtFtpPort" placeholder="FTP Port" maxlength="5" size="5">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="col-3 float-left">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="float-right">
                        <button type="button" name="DeleteConfirmationButton" class="btn btn-danger">DELETE</button>
                    </div>
                </div>
            </form>
        </div>
        <form asp-controller="ClientConnection" asp-action="Delete" method="Post">
            <input type="hidden" asp-for="ConnectionId" />
            <input type="hidden" asp-for="SetupId" />
            @Html.AntiForgeryToken()
            <partial name="~/Views/Shared/PartialViews/_Delete.cshtml" />
        </form>
        <!-- /.card -->
    </div>
    <!--/column  -->
</div>


@section Header{
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
}

    @section Footer{
    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="/dist/js/cone-validation.js"></script>

    <script>
        $(function () {
            $('button[name="DeleteConfirmationButton"]').click(function () {
                $('#DeleteConfirmationAlert').addClass('visible').removeClass('invisible');
                $('button[name="DeleteConfirmationButton').addClass('invisible').removeClass('visible');
            });
            $('button[name="CancelDeleteConfirmationButton"]').click(function () {
                $('#DeleteConfirmationAlert').addClass('invisible').removeClass('visible');
                $('button[name="DeleteConfirmationButton').addClass('visible').removeClass('invisible');
            });
            $('input:radio[name="ConnectionType"]').click(function () {
                $.fn.connectiontype();
            });
            $.fn.connectiontype = function () {
                $("#ConnectionTypeKeyAttribute").hide();
                $("#ConnectionTypeJwtAttribute").hide();
                $("#ConnectionTypeFtpAttribute").hide();
                $('input:radio[name="ConnectionType"]:checked').each(function () {
                    var title = this.title;
                    $("#" + title).show();
                });
            }
            $.fn.connectiontype();
        });
    </script>
}